extends _layout

block content
	+insideHeader('Justfont 粉圓體', 'https://github.com/justfont/open-huninn-font/')

	//- 源泉圓體 ttc
	+article('Justfont 粉圓體 woff', 'open-huninn-ttf-cdn')

	+fontFileSize('4 MB')
